* {
    margin: 0;
    line-height: 1.4;
}

/*cabeçalio*/
body{
    margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(to left, rgb(73, 70, 70), rgba(0, 0, 0, 0.76), rgb(73, 70, 70));
}

/*colocar imagem dentro do texto*/
.texto-img{
    font-size: 90px;
    font-weight: bold;
    background-image: url('https://imgs.search.brave.com/HZI7TGr-o14bzrzgGnVoXe65gdO3_QQX9ozBFZM1fmQ/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9lc3RhZG8tZGEt/YmFuZGVpcmEtZG8t/cGlhdWktbm8tYnJh/c2lsXzIyMjctNzAx/LmpwZw');
    background-size: auto 120px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-size: 1.3rem;
}
nav li:hover{
    transform: scale(1.05);
    transition: .6s;
}

header p{
    font-size: 2rem;
}

footer p{
    font-size: 1.4rem;
    padding: 15px;
}

header {
    text-align: center;
    box-shadow: 5px 5px 16px 5px #000000fa;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #137623, rgb(0, 0, 0));
}
/*principal*/

h1 {
    font-size: 6rem;
    padding-top: 2%;
    letter-spacing: 1rem;
}

h2{
    border-bottom: 1px dotted rgb(128, 128, 128);
    border-left: 10px solid rgb(53, 3, 3);
    padding-left: 10px;
}

main{
     width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start; /* faz com que a section e aside ocupem apenas o seu próprio conteúdo */
}

section{
    flex: 3;
}
aside{
    flex: 1;
}
/*CARD*/
.card {
    background-color: #E5E9F4;
    border: 1px dotted gray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px #000000;
}
.card a { color: rgb(35, 35, 35); }

.card a:hover { color: rgb(106, 105, 105);}

a{
    text-decoration: none;
    color: #E5E9F4
}
a:hover{
    color: #0b1074f7;
}


article{
    background-color:  #E5E9F4;
    border: 1px dotted gray;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px #383737;
}

article * {
    margin: 14px;
}

footer, header{
    background-color: black;
    color: #d6dfe6;
    margin: 0;
}
footer{
    box-shadow: 3px -8px -8px 3px #383737;
     margin-top: 40px;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(63, 2, 2, 0.741));
}

.autor{
    text-align: right;
    color: rgb(82, 82, 82);
    font-style: italic;
}

@media (max-width: 900px){
    *{
        margin: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    main{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
}